<h1><%= current_user.first_name %>'s Dependents</h1>

<!--<h3><%= link_to('Add a Dependent', new_user_dependent_path(current_user.id)) %></h3>-->

<% @dependents.each do |dependent| %>
  <%= dependent.name %> | <%= dependent.relation %> | <a href="/dependents/<%=dependent.id%>/destroy">Remove</a><br>
<% end %>

<h4>New Dependent:</h4>
<%= form_for ([:user, @dependent]) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %><br>
<%= f.label :relation %>
<%= f.text_field :relation %><br><br>
<input id="hidden" type="hidden" name="dependent[user_id]" value="<%=current_user.id%>">

<%= f.submit %>
<% end %>
