<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<h3>User Setup</h3>

<%= form_for @user do |f| %>
  <div class="field">
    <input type="hidden" name="setup_complete" value="true"/>
    First Name: <%= f.text_field :first_name %><br>
    Last Name: <%= f.text_field :last_name %><br>
    Salary: <%= f.text_field :salary %><br>
  </div>

  <br><h3> Dependents </h3>

  <div class="field">
    <%= f.fields_for :dependents do |d| %>
      <%= d.label :name %>
      <%= d.text_field :name %><br>

      <%= d.label :relation %>
      <%= d.text_field :relation %><br><br>
    <% end %>
  </div>

  <h3> Deductions </h3>

  <div>
    <% Deduction.all.each do |deduction| %>
    <label>
      <%= check_box_tag "user[deduction_ids][]", deduction.id, f.object.deductions.include?(deduction) %>
      <%= deduction.name %>
      <%= fields_for :deduction_details do |deduction_detail| %>
        <% if deduction.is_percentage? %>
          <%= deduction_detail.text_field :percentage %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <br>
  <div>
    <%= f.check_box :admin %>
    <%= f.label :admin %>
  </div>

  <br>
  <%= f.submit "Submit" %>
<% end %>
