<% if notice %>
  <p><%= notice %></p>
<% end %>

<%= form_for @user do |f| %>
  Salary: <%= f.text_field :salary %>

  <%= f.fields_for :dependents do |d| %>
    <%= d.label :name %>
    <%= d.text_field :name %><br>

    <%= d.label :relation %>
    <%= d.text_field :relation %><br>
  <% end %>

  <%= f.submit %>
<% end %>
