<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<h3>User Setup</h3>

<%= form_for @user do |f| %>
  <div class="field">
    <input id="hidden" type="hidden" name="setup_complete" value="true"/>
    First Name: <%= f.text_field :first_name %><br>
    Last Name: <%= f.text_field :last_name %><br>
    Salary: <%= f.text_field :salary %><br>
  </div>

  <br><h3> Dependents </h3>

  <div class="field">
    <%= f.fields_for :dependents do |d| %>
      <%= d.label :name %>
      <%= d.text_field :name %><br>

      <%= d.label :relation %>
      <%= d.text_field :relation %><br><br>
    <% end %>
  </div>

  <h3> Deductions </h3>

  <div>
    <%= f.fields_for :deduction_details do |dd| %>
      <% Deduction.all.each do |deduction| %>
        <%= dd.check_box :id %>
        <%= dd.label :id, deduction.name %>
        <% if deduction.is_percentage? %>
          <%= dd.label :percentage %>
          <%= dd.text_field :percentage %>
        <% end %><br>
      <% end %>
    <% end %>
  </div>

  <br>
  <div>
    <%= f.check_box :admin %>
    <%= f.label :admin %>
  </div>

  <br>
  <%= f.submit "Submit" %>
<% end %>
