<br>
<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<h3>User Setup</h3>

<%= form_for @user do |f| %>
  <div class="field">
    First Name: <%= f.text_field :first_name %><br>
    Last Name: <%= f.text_field :last_name %><br>
    Salary: <%= f.text_field :salary %><br>
    Admin: <%= f.check_box :admin %><br>
    <input id="hidden" type="hidden" name="user[setup_complete]" value="true">
  </div>

  <br><h3> Dependents </h3>

  <div class="field">
    <%= f.fields_for :dependents do |d| %>
      <%= d.label :name %>
      <%= d.text_field :name %><br>

      <%= d.label :relation %>
      <%= d.text_field :relation %><br><br>
    <% end %>
  </div>

  <h3> Deductions </h3>

  <div>
    <% Deduction.all.each_with_index do |deduction, index| %>
      <%= f.fields_for :deduction_details do |dd| %>
        <%= dd.check_box :id %>
        <%= dd.label :id, deduction.name %>
        <input id="hidden" type="hidden" name="user[deduction_details_attributes][<%= index %>][deduction_id]" value="<%=deduction.id%>"/>
        <% if deduction.is_percentage? %> |
          <%= dd.label :percentage %>
          <%= dd.text_field :percentage %>
        <% end %><br>
      <% end %>
    <% end %>
  </div>

  <br>
  <%= f.submit "Submit" %>
<% end %>
