<h1> <%= @user.first_name %>'s Yearly Deductions </h1>

<p>
  <%= link_to 'Show Deductions', user_deduction_details_path(@user), :class => "user_deductions" %>
<!--
  <ul>
    <% @user.deduction_details.each do |deduction_detail| %>
       <li>
         <% if deduction_detail.deduction.is_flat? %>
            <%= deduction_detail.deduction.name %> | <%= number_to_currency(deduction_detail.deduction.amount) %>
         <% else %>
           <%= deduction_detail.deduction.name %> | <%= deduction_detail.percentage %>%
         <% end %>
       </li>
    <% end%>
  </ul>
-->
</p>

<div class="deductions">
  <ul>
  </ul>
</div>

<p>
  <%= link_to 'Show Dependents', user_dependents_path(@user), :class => "user_dependents" %>
<!--
  <ul>
    <% @user.dependents.each do |dependent| %>
      <li><%= dependent.name %> | <%= dependent.relation %></li>
    <% end %>
  </ul>
-->
</p>

<div class="dependents">
  <ul>
  </ul>
</div>

<h4>Total Deductions: <%= number_to_currency(total_deductions) %> </h4>

<% if current_user.admin? %>
  <a href="#" class="js-next" data-id="<%=@user.id%>">Next User</a>
<% end %>
