<h1> <%= @user.first_name %> Yearly Deductions </h1>

<h3> Deductions </h3>
<ul>
  <% @user.deduction_details.each do |deduction_detail| %>
     <li>
       <% if deduction_detail.deduction.is_flat? %>
          <%= deduction_detail.deduction.name %> | <%= deduction_detail.deduction.amount %>
       <% else %>
         <%= deduction_detail.deduction.name %> | <%= deduction_detail.percentage %>%
       <% end %>
     </li>
  <% end%>
</ul>

<h3> Dependents </h3>
<ul>
  <% @user.dependents.each do |dependent| %>
    <li><%= dependent.name %> | <%= dependent.relation %></li>
  <% end %>
</ul>

<h4>Total Deductions: <%= total_deductions %> </h4>
