<h1 class="userName"> <%= @user.first_name %>'s Yearly Deductions </h1>

<p>
  <%= link_to 'Show Deductions', user_deduction_details_path(@user), :class => "user_deductions" %>
</p>

<div class="deductions">
  <ul>
  </ul>
</div>

<p>
  <%= link_to 'Show Dependents', user_dependents_path(@user), :class => "user_dependents" %>
</p>

<div class="dependents">
  <ul>
  </ul>
</div>

<h4>Total Deductions: <%= number_to_currency(total_deductions) %> </h4>

<% if current_user.admin? %>
  <a href="#" class="js-next" data-id="<%=@user.id%>">Next User</a>
<% end %>
