<h1> <%= @user.email %> Yearly Deductions </h1>

<h3> Deductions <h3>
  <ul>
    <% @user.deductions_details.each do |deduction_detail| %>
    <li><% if deduction_detail.deduction.is_amount? %>
          <%= deduction_detail.deduction.name %> | <%= deduction_detail.deduction.amount %>
        <% else %>
          <%= deduction_detail.deduction.name %> | <%= deudction_detail.percentage %>%
       <% end %>
     </li>
    <% end%>
  </ul>

<h3> Dependents </h3>
