<nav class="">
    <% if current_user %>
      Signed in as <%= current_user.email %> | <a href="/signout">Sign Out</a>
      <% if current_user.setup_complete? %>
        | <%= link_to('Edit Deductions', user_deduction_details_path(current_user.id)) %>
        | <%= link_to('Edit Dependents', user_dependents_path(current_user.id)) %>
      <% end %>
      <% if current_user.admin? %>
        | <%= link_to('User Index', users_path), :class => "user_index" %>
        | <%= link_to('Add/Edit Deduction Codes',deductions_path) %>
      <% end %>
    <% else %>
      <a href="/signin">Sign In</a> | <a href="/signup">Sign Up</a> | <%= link_to('Log in with Facebook', '/auth/facebook') %>
    <% end %>
</nav>
